/* Global */

*,
*::before *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'SF Pro Display', sans-serif;
}

body{
    background: #f8eae5;
}

a {
    display: block;
    text-decoration: none;
}

.container{
    /* max-width: 98rem; */
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2.5rem;
    padding-right: 5.5rem;
    /* display: flex; */
}

.container1{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2.5rem;
    padding-right: 5.5rem;
}

/* Header */

header {
    position: fixed;
    top: 0;
    z-index: 1400;
    width: 100%;
    height: 5.4rem;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(2rem);
    margin: 0 -0.8rem;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -4rem;
}

.nav-list-mobile {
    display: none;
}

.nav-link {
    font-size: 1.5rem;
    color: #fff;
    padding: 0 1rem;
    transition: opacity .4s;
}

.nav-link:hover {
    opacity: .2;
}

.nav-link-tasweer {
    width: 1.6rem;
    height: 5.4rem;
    background: url("assets/light-logo.svg") center no-repeat;
}

.nav-link-search {
    width: 1.6rem;
    height: 5.4rem;
    background: url("assets/search.svg") center no-repeat;
}

.nav-link-bag {
    width: 1.4rem;
    height: 5.4rem;
    background: url("assets/bag.svg") center no-repeat;
}

.section1 {
    margin-top: 4.4rem;
    
}

.container1{
    /* background-image: url("assets/Section1.jpg"); */
            /* filter: blur(3px); */
            /* -webkit-filter: blur(3px); */
    max-width: 95vw;
    min-height: 90%;
    /* height: auto; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background: transparent;
    opacity: 0.9;
    margin-left: -1.2rem;
    margin-right: -8px;
}

.section-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(20vw, -80px);
    z-index: 2;
    width: 30%;
    /* padding: 25px; */
    align-self: center;
    max-width: 18vw;
    /* min-width: 15vw; */
    transition: opacity .5s;
    cursor: pointer;
}

@media screen and (min-height: 730px){
    .section-logo{
        transform: translate(20vw, -240px);
    }
}

/* .download{
    font-size: 25px;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border: 2px solid rgb(15, 9, 9);
    cursor: pointer;
} */

.section-logo:hover{
    opacity: .75;
}

.section-content-right{
    display: flex;
    flex-direction: column;
    padding-left: 20vw;
    margin-top: 22vh;
    font-size: 18px;
    /* line-height: 1.2; */
}

.section-content-left{
    display: flex;
    flex-direction: column;
    /* padding-left: 20vw; */
    margin-top: 22vh;
    font-size: 18px;
    /* line-height: 1.2; */
}

.section-content p{
    width: 110%;
    font-size: 17px;
}

/* .title {
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
    padding-top: 5.5rem;
}

.title-heading {
    font-size: 5.6rem;
    line-height: 1.07143;
    letter-spacing: -0.005rem;
}

.title-sub-heading {
    font-size: 2.65rem;
    margin-top: 0.6rem;
    letter-spacing: 0.008rem;
    font-weight: 400;
}

.title-price {
    font-size: 1.7rem;
    color: #888;
    margin-top: 0.68rem;
}

.cta {
    text-align: center;
    margin-top: 1.8rem;
}

.cta-link {
    color: #66bbff;
    font-size: 2.1rem;
    display: inline-block;
}

.cta-link:nth-child(2) {
    margin-left: 2.6rem;
}

.cta-link:hover {
    border-bottom: 2px solid #66bbff;
} */

.section2 {
    /* background: url("assets/SplashScreen.svg") center no-repeat; */
    margin-top: 2rem; /* changed from -1.2rem */
    margin-bottom: -20rem;
    max-width: 88vw;
}

.container2{
    background-image: url("assets/SplashScreen.svg");
    background-repeat: no-repeat;
    background-position: -5vw -5%;
    height: 90vh;
    min-height: 600px;
    background-size: 700px;
    margin: none;
    padding-left: 25vw;
}

.section3 {
    margin-top: -16rem;
    margin-bottom: -12rem;
    max-width: 88vw;
}

.container3{
    background-image: url("assets/HomeScreen.svg");
    background-repeat: no-repeat;
    background-position: 35vw -5%;
    /* background-size: 500% 500%; */
    height: 90vh;
    min-height: 600px;
    background-size: 700px;
    margin: none;
    margin-left: 10vw;
    /* margin-right: 10vw; */
    padding-right: 35vw;
    
}

.section4{
    /* background: url("assets/MapView.svg"); */
    margin-top: -16rem;
    margin-bottom: -12rem;
    max-width: 88vw;
}

.container4{
    background-image: url("assets/MapView.svg");
    background-repeat: no-repeat;
    background-position: -5vw -5%;
    /* background-size: 500% 500%; */
    height: 90vh;
    min-height: 600px;
    background-size: 700px;
    margin: none;
    padding-left: 25vw;
}

.section5{
    /* background: url("assets/Communities.svg"); */
    margin-top: -16rem;
    margin-bottom: -12rem;
    max-width: 88vw;
}

.container5{
    background-image: url("assets/Communities.svg");
    background-repeat: no-repeat;
    background-position: 35vw -5%;
    /* background-size: 500% 500%; */
    height: 90vh;
    min-height: 600px;
    background-size: 700px;
    margin: none;
    margin-left: 10vw;
    /* margin-right: 10vw; */
    padding-right: 35vw;
}

.section6{
    /* background: url("assets/Leaderboard.svg"); */
    margin-top: -16rem;
    margin-bottom: -12rem;
    max-width: 88vw;
}

.container6{
    background-image: url("assets/Leaderboard.svg");
    background-repeat: no-repeat;
    background-position: -5vw -5%;
    /* background-size: 500% 500%; */
    height: 90vh;
    min-height: 600px;
    background-size: 700px;
    margin: none;
    padding-left: 25vw;
}

.section7{
    /* background: url("assets/NewPost.svg"); */
    margin-top: -16rem;
    margin-bottom: -12rem;
    max-width: 88vw;
}

.container7{
    background-image: url("assets/NewPost.svg");
    background-repeat: no-repeat;
    background-position: 35vw -5%;
    /* background-size: 500% 500%; */
    height: 90vh;
    min-height: 600px;
    background-size: 700px;
    margin: none;
    margin-left: 10vw;
    /* margin-right: 10vw; */
    padding-right: 35vw;
}

.section8{
    /* background: url("assets/UploadPost.svg"); */
    margin-top: -16rem;
    margin-bottom: -12rem;
    max-width: 88vw;
}

.container8{
    background-image: url("assets/UploadPost.svg");
    background-repeat: no-repeat;
    background-position: -5vw -5%;
    /* background-size: 500% 500%; */
    height: 90vh;
    min-height: 600px;
    background-size: 700px;
    margin: none;
    padding-left: 25vw;
}

h3{
    text-align: center;
    padding-right: 2vw;
    font-size: 3.5rem;
}

/* Moved to bottom to keep consistent styles */

.card {
    height: 50rem;
    /* background-size: auto 97.7rem; */
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    /* border-top: .5rem solid #fff;
    border-bottom: .5rem solid #fff; */
    transform: scale(0.75);
    margin-bottom: 30vh;
}

.card1 {
    height: 88rem;
    background-size: auto 97.7rem;
    background-position: center;
    background-repeat: no-repeat;
    border-top: .5rem solid #fff;
    /* border-bottom: .5rem solid #fff; */
}

.section1 {
    border-top: none;
    height: 65rem;
    max-width: 100vw;
}


@media screen and (max-width: 1055px) {
    /* .section1 {
        /* background: url("assets/full-logo.svg"); 
        margin-top: 4.4rem;
    } */

    /* .section2 {
        background: url("assets/SplashScreen.svg");
    } */

    /* .section3 {
        background: url("assets/HomeScreen.svg");
    } */

    .card {
        height: 45rem;
        background-size: auto;
        background-position: bottom center;
        background-repeat: no-repeat;
        /* max-width: 85vw; */
    }

    .section-content-right .section-content-left h3{
        font-size: 25px;
    }

    .section-content-right .section-content-left p{
        font-size: 16px;
    }
/* 
    .section2{
        margin-left: -2vw;
    } */
/* 
    .title-heading {
        font-size: 4.4rem;
    }

    .title-sub-heading {
        font-size: 2.4rem;
    } */

    /* .cta-link:nth-child(2) {
        margin-left: 2rem;
    } */

    /* .title-heading-watch {
        height: 6.2rem;
        background: url("assets/full-logo.svg") center no-repeat;
        background-size: auto 6.2rem;
    } */
}

@media screen and (max-width: 1142px) {
    .card {
        height: 45rem;
        background-size: auto;
        background-position: -5vw 5%;
        background-repeat: no-repeat;
        max-width: 120vw;
        /* padding-left: 2vw; */
    }

    /* .container2{
        padding-left: 18vw;
    } */

    .section2{
        margin-left: -5vw;
    }

    .section3{
        margin-left: -5vw;
        margin-right: -8vw;
    }

    .section4{
        margin-left: -5vw;
    }

    .section5{
        margin-left: -5vw;
        margin-right: -8vw;
    }

    .section6{
        margin-left: -5vw;
    }

    .section7{
        margin-left: -5vw;
        margin-right: -8vw;
    }

    .section8{
        margin-left: -5vw;
    }
    .section-content-left {
        margin-right: 12vw;
    }
}

@media screen and (max-width: 950px) {
    .card {
        height: 45rem;
        background-size: auto;
        background-position: -5vw 5%;
        background-repeat: no-repeat;
        max-width: 100vw;
        /* padding-left: 2vw; */
    }

    /* .container2{
        padding-left: 18vw;
    } */

    .section2{
        margin-left: -5vw;
    }

    .section3{
        margin-left: -5vw;
        margin-right: -20vw;
    }

    .section4{
        margin-left: -5vw;
    }

    .section5{
        margin-left: -5vw;
        margin-right: -8vw;
    }

    .section6{
        margin-left: -5vw;
    }

    .section7{
        margin-left: -5vw;
        margin-right: -8vw;
    }

    .section8{
        margin-left: -5vw;
    }

    .section-content-left {
        margin-right: 2vw;
    }

    .section-content-right {
        margin-left: 10vw;
        margin-right: -5vw;
    }
}

@media screen and (max-width: 900px) {
    header {
        height: 4.8rem;
        transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1),
            height .56s cubic-bezier(0.32, 0.08, 0.24, 1);
    }

    header .container{
        padding: 0;
    }
    
    .section-logo{
        max-width: 28vw;
        margin-left: -60px;
    }

    /* .container1{
        padding: 0;
    } */

    .section1{
        margin-top: 4.8rem;
    }

    .nav-list{
        margin-top: 0;
    }

    .nav-list-mobile{
        display: flex;
        margin-right: 2px;
    }

    .nav-item{
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        justify-content: center;
    }

    .nav-item-hidden{
        display: hidden;
    }

    .mobile-menu{
        position: relative;
        z-index: 1500;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .line{
        position: absolute;
        width: 1.7rem;
        height: 1px;
        background-color: #fff;
        transition: margin-top .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    }

    .line-top{
        margin-top: -12px;
    }

    .line-middle{
        margin-top: -.001rem;
    }

    .line-bottom{
        margin-top: 1.2rem;
    }

    .active .line-top{
        margin-top: 0;
        transform: rotate(45deg);
        transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    }

    .active .line-middle{
        margin-top: 0;
        display: none;
        /* transform: rotate(-45deg); */
        /* transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96); */
    }

    .active .line-bottom{
        margin-top: 0;
        transform: rotate(-45deg);
        transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    }

    header.active{
        height: 100%;
        background-color: #000;
    }

    .nav-link-tasweer{
        width: 1.8rem;
        height: 4.8rem;
        position: relative;
        z-index: 1500;
    }

    .nav-link-search{
        width: 1.6rem;
        height: 4.8rem;
        transition: opacity .3s;
    }

    .nav{
        position: relative;
    }

    .nav-link{
        font-size: 1.7rem;
        margin: auto 0;
    }

    .nav-list-larger{
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        display: block;
        padding: 10.5rem 5rem;
        z-index: 1000;
        box-sizing: border-box;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s;
    }

    .active .nav-list-larger{
        width: 100%;
        height: 100vh;
        opacity: 1;
        visibility: visible;
    }

    .active .nav-link-search{
        opacity: 0;
        transition: opacity .3s;
    }

    .nav-list-larger .nav-item{
        width: 100%;
        justify-content: flex-start;
        border-bottom: 2px solid rgba(255,255,255,.1);
    }

    .nav-list-larger .nav-item:nth-child(9){
        border-bottom: none;
    }

    .nav-list-larger .nav-item:nth-child(10){
        border-bottom: none;
        display: none;
    }

    .nav-list-larger .nav-item:nth-child(1){
        display: none;
    }

    .active .nav-list-larger .nav-item{
        animation: fadeIn .2s ease-in;
    }

    @keyframes fadeIn {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

    .section-content-left {
        margin-right: 2vw;
    }

    .container2{
        margin-left: -12vw;
    }

    .container4{
        margin-left: -12vw;
    }

    .container6{
        margin-left: -12vw;
    }

    .container8{
        margin-left: -12vw;
    }

    .container3{
        margin-right: -10vw;
    }

    .section3{
        margin-left: -10vw;
    }

    .container5{
        margin-right: -10vw;
    }

    .section5{
        margin-left: -10vw;
    }

    .container7{
        margin-right: -10vw;
    }

    .section7{
        margin-left: -10vw;
    }

    .section-content-right {
        margin-left: 15vw;
        margin-right: -5vw;
    }

    /* .section-content-left {
        margin-right: -12vw;
    }

    .section-content-right {
        margin-left: 4vw;
        /* margin-right: -12vw;
    } */

}

@media screen and (max-width: 795px){

    .section2 {
        margin-top: -8rem;
        max-width: 92vw;
    }
    
    .container2{
        background-image: url("assets/SplashScreen.svg");
        background-repeat: no-repeat;
        background-position: 86% 0.8%;
        height: 80vh;
        background-size: 500px;
        margin-left: -55vw;
        margin-right: -10vw;
        padding-left: 30vw;
    }

    .section3 {
        margin-top: -8rem;
        max-width: 92vw;
    }
    
    .container3{
        background-image: url("assets/HomeScreen.svg");
        background-repeat: no-repeat;
        background-position: 60% 0.8%;
        height: 90vh;
        background-size: 500px;
        margin-left: 15vw;
    }

    .section4 {
        margin-top: -8rem;
        max-width: 92vw;
    }
    
    .container4{
        background-image: url("assets/MapView.svg");
        background-repeat: no-repeat;
        background-position: 86% 0.8%;
        height: 90vh;
        background-size: 500px;
        margin-left: -55vw;
        margin-right: -10vw;
        padding-left: 30vw;
    }

    .section5 {
        margin-top: -8rem;
        max-width: 92vw;
    }
    
    .container5{
        background-image: url("assets/Communities.svg");
        background-repeat: no-repeat;
        background-position: 60% 0.8%;
        height: 90vh;
        background-size: 500px;
        margin-left: 15vw;
    }

    .section6 {
        margin-top: -8rem;
        max-width: 92vw;
    }
    
    .container6{
        background-image: url("assets/Leaderboard.svg");
        background-repeat: no-repeat;
        background-position: 86% 0.8%;
        height: 90vh;
        background-size: 500px;
        margin-left: -55vw;
        margin-right: -10vw;
        padding-left: 30vw;
    }

    .section7 {
        margin-top: -8rem;
        max-width: 92vw;
    }
    
    .container7{
        background-image: url("assets/NewPost.svg");
        background-repeat: no-repeat;
        background-position: 60% 0.8%;
        height: 90vh;
        background-size: 500px;
        margin-left: 15vw;
    }

    .section8 {
        margin-top: -8rem;
        max-width: 92vw;
    }
    
    .container8{
        background-image: url("assets/UploadPost.svg");
        background-repeat: no-repeat;
        background-position: 86% 0.8%;
        height: 90vh;
        background-size: 500px;
        margin-left: -55vw;
        margin-right: -10vw;
        padding-left: 30vw;
    }

    .section-content-right{
        margin-top: 48vh;
    }

    .section-content-left{
        margin-top: 48vh;
        margin-right: -35vw;
    }

    .card {
        height: 45rem;
        background-size: auto;
        background-position: bottom center;
        background-repeat: no-repeat;
        /* transform: scale(0.5); */
    }

}
